@import './colors';
@import './variables';

.btn {
  border: none;
  text-align: center;
  min-width: 130px;
  height: 40px;
  border-radius: $radius;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  color: $secondary;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.btn[disabled] {
  background-color: $light;
  color: $secondary;
  cursor: not-allowed;
}

.btn__primary {
  background-color: $primary;
  color: white;
}

.btn__primary--light {
  background-color: $primary-light;
  color: white;
}

.btn__toolbar {
  background-color: transparent;
  color: white;
  min-width: 80px;
}