$primary: #394783;
$primary-dark: #1f2b5a;
$primary-light: #5d699a;
$primary-ultra-light: #e7e9f3;
$secondary: #878787;
$secondary-dark: #333;
$success: #20c795;
$light: #d4d9e3;
$ultra-light: #f1f2f6;