@import './mixins';

$grid-columns: 12;
$grid-gutter: 14px;

.base {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-auto-rows: max-content;
  grid-auto-columns: 1fr;
  grid-gap: $grid-gutter $grid-gutter;
}

.container {
  @extend .base;
  width: 1024px;
  margin: 0 auto;  
}

.row {
  @extend .base;
  grid-column: span $grid-columns;
}

@for $i from 1 to ($grid-columns + 1) {
  .col-#{$i} {
    grid-column: span $i;
  }
  .row-#{$i} {
    grid-row: span $i;
  }
}
