@import './colors';

%reset {
  margin: 0;
  padding: 0;
}

body, html {
  @extend %reset;
  box-sizing: border-box;
  height: 100vh;
  background-color: $primary-ultra-light;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul, li, a, p {
  @extend %reset;
}