@import './colors';
@import './buttons';
@import './components';
@import './forms';
@import './grid';
@import './reset';
@import './utils';

h1, h2, h3, h4, h5, h6, p, a, span, div {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: $secondary;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-dark;
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
  line-height: 1.8rem;
}

a {
  color: $primary;
}